@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: mistyrose;
}

.header {
  padding: 1.5rem 0 0 0.8rem;
  width: 100%;
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
}

.main-section {
  width: 100%;
  padding: 1.5rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 90%;
}

.recent-head {
  width: 15.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.score-list {
  width: 13.5rem;
  overflow-y: scroll;
  max-height: 19rem;
}

.border-on {
  border: 3px solid black;
}

.score-list li:nth-child(even) {
  background-color: #e9e9e9;
}

.score-list li p {
  padding-left: 0.3rem;
  font-weight: bold;
}

.score-list li span {
  padding-left: 0.3rem;
}

h2 {
  width: 50%;
  font-size: 0.9rem;
  font-size: 1.5rem;
}

button {
  width: 5rem;
  border: 3px solid black;
  background-color: transparent;
  text-align: center;
  box-shadow: 2px 3px #333;
  font-family: 'Patrick Hand', cursive;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.add-scores {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 13.5rem;
}

.add-scores h2 {
  width: 100%;
}

.name-input,
.score-input {
  border: 3px solid black;
  align-self: flex-end;
  padding-left: 2px;
  width: 100%;
  height: 1.5rem;
}

.add-scores input::placeholder {
  font-family: 'Patrick Hand', cursive;
  color: black;
  font-weight: bold;
}

.add-scores button {
  align-self: flex-end;
}

.footer-section {
  display: flex;
  align-items: flex-end;
  padding: 0 0 1rem 0.8rem;
}

.copyright {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
  .wrapper {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    width: 70%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    border: 3px solid mediumvioletred;
    background-color: mintcream;
  }

  .main-section {
    width: 100%;
    padding: 1.5rem 3rem 2rem 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .recent-scores {
    width: 50%;
  }
}
